@{
    ViewBag.Title = "Bienvenid@s";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Empate en Madrid</h5>
       El Real Madrid ha empatado con el Manchester United 1 a 1, en su estadio.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
